body {
    background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/f22d395f391b5c099f6669bd/pexelsphoto2765872.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}