body {
    background-image: url(https://images.pexels.com/photos/355887/pexels-photo-355887.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

nav li {
    margin-left: 30px;
    font-size: 20px;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
}

/**/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
    background-color: white;
    opacity: 70%;
    width: 50%;
    align-self: center;
    border-radius: 5%;
}


